@charset "UTF-8";
/* CSS Document */
/* Style fonts, font size, font-weights, line-height for English text */

body {
	font: 100% Arial, Helvetica, Verdana, sans-serif;
	line-height: 100%;
	font-weight:normal;
}

h1 {
	font-size: 2.00em;
	line-height: 130%;
	}
h2 {
	font-size: 1.375em;
	line-height: 130%;

	}
h3 {
	font-size: 1.125em;
	line-height: 130%;
	}



.btn2 {
	font-size: 1.125em;
	font-size:24px;
	font-size:1.375rem;
	font-weight: bold;
	line-height: 42px;
}

.btn1 {	
	font-size: 1.3em;
	font-weight: bold;
	line-height: 42px;
	}
.btn1.confirmation {	
	font-size: 1em;
	font-weight: bold;
	line-height: 34px;
	}	
.btn3 {
	font-size: 0.875em;
	font-weight: bold;
	line-height: 29px;
	}
	
	
	
p {
	font-size: 1.0em;
	line-height: 150%;
	}
.page-content p + p {
	padding-top: 20px;
	}

header #AccountTools {
	font-size: 0.75em;
	line-height: 1.5em;
	}

header nav > ul > li > a {
	font-weight: bold;
	line-height: 40px;
	font-size:0.9em;
	}

header nav ul li ul li a {
	font-size: 0.9em;
	
	}
#leftnav > ul > li > a {
	font-size: 0.938em;
	font-weight: bold;
	line-height: 130%;
	}
	
#leftnav span.AccountFunctionLabel{
	font-size: 0.938em;
	font-weight: bold;
	line-height: 130%;
}


	
#leftnav ul li ul li a {
	font-size: 0.813em;
	}

#subnav ul li a {
	font-size:13px;
	font-size:.8125rem;
	font-weight:700;
}

#subnav i {
	font-size: 13px;
}


/* Language switch */

ul#lang li {
	font-size: 11px;
	font-size:.7rem;
}



/* SUBPAGE */

#content p {
	font-size: 0.875em;
	line-height: 160%;
	}
#sidebar h3 {
	font-size:22px;
	font-size:1.375rem;
	line-height: 1;
}
#sidebar p {
    line-height: 1.45;
}




/* SCHEDULE */

p#key {
	font-size:15px;
	font-size:.9375rem;
}
p#key i {
	font-size:25px;	
	font-size:1.5625rem;
}


/* table */

table.table-content caption {
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
}
table.table-content th,
table.table-content td {
	font-size:12px;
	font-size:0.75rem;
	/*line-height:1.75*/;
}

table.table-content tr#options-list th,
table.table-content tr#options-list td {
	font-size:12px;
	font-size:0.75rem;
	/*line-height:1.75*/;
}


table.table-content i {
	font-size:16px;
	font-size:1rem;	
}




/* Footer */

footer h3 {
/* 	font-size: 1em; */
	font-size: 0.9em;
	line-height: 100%;
	}
footer li.InnerHeader{
	font-size: 0.95em;
	line-height: 100%;
	font-weight:bold;
}	
footer > ul > li {
	font-size:90%;
	}
footer > ul > li li {
	/*font-size: 0.8em;*/
	font-size: 0.76em;
	line-height: 140%;
	}

footer .legal li {
	font-size: 0.75em;
	line-height: 100%;
	
	}
footer .copy {
	font-family: Arial, Helvetica, sans-serif;
	}





/* Homepage */

/* Slideshow */
.slides_container h2,
.slides_container h3 {
	line-height: 100%;
	}
.slides_container h2 {
	font-size: 3.000em;
	}
.slides_container h3 {
	font-size: 1.250em;
	}
.slides_container .txt#two-girls-smiling-en {
	position: absolute;
	top: 40px;
	right: 50px;
	text-align:right;
	}
.slides_container .txt#two-girls-smiling-en h3 {
  line-height: 130%;
}
.slides_container .txt#three-boys-smiling-en {
	position: absolute;
	top: 260px;
	left: 70px;
	}
.slides_container .txt#leader-with-campers-en {
	position: absolute;
	top: 280px;
	left: 70px;
	text-align:left;
	}

/* New slides for Snow Camp 2013 */	
	
.slides_container .txt#snow-angel-en h2{
	margin: 25px 0 0 50px;
}

.slides_container .txt#snow-angel-en h3{
	margin: 0 0 0 50px;

}

.slides_container .txt#three-girlfriends-en h2{
	margin: 20px 0 0 80px;
}

.slides_container .txt#three-girlfriends-en h3{
	left: 400px;
    position: absolute;
    top: 90px;
    width: 400px;
}

.slides_container .txt#having-a-blast-sledding-en h2{
	left: -20px;
    position: absolute;
    top: -50px;
}

.slides_container .txt#having-a-blast-sledding-en h3{
	margin: 60px 0 0 -17px;
}

.slides_container .txt#igloo-builders-en h2{
	margin: -90px 0 0 520px;
    text-align: right;
    
}

.slides_container .txt#igloo-builders-en h3{
	text-align: right;
}
	
.slides_container .txt#mountains-of-hakuba {
	position: absolute;
	top: 280px;
	right: 40px;
	text-align:right;
	line-height:130%
	}		
	

.frontpage #intro h1 {
	font-size: 1.950em;
	}
.frontpage #intro p {
	font-size: 1em;
	line-height: 160%;
	}
.frontpage #highlights h2 {
	font-size: 1.2em;
	line-height: 130%;
	}
.frontpage #highlights p {
	font-size:0.95em;
	}	
#mailing p  {
	font-size: 1em;
	}
#mailing input[type="text"] {
	line-height: 36px;
	}
#mailing .btn1 {
	font-size: 1em;
	line-height: 33px;
	}



/* ACCOUNT */

/* REGISTRATION */

.registration #confirmation {
	}
.registration #confirmation h2 {	
	font-size: 1.625em;
	line-height: 130%;
	}

.registration #confirmation table th {
	font-size: 0.85em;
	font-weight: bold;
	}
.registration #confirmation table td {
	font-size: 0.85em;
	}


ol.progress li {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 50px;
}


/* FORMS */

#content h1 span.input-legend{
	font-size: 14px;
	font-weight:normal;
}

.form #main .row.text {
	font-size: 0.875em;
}
.form .example {
	font-size: 0.875em;
}



input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	font-size: 0.875em;
	}

.form #main label,
.form #main .label {
    font-size: 0.875em;
    font-weight: bold;

}

.form #main label span.note {
	font-weight: normal;
    font-size: 0.69em;
}

.form #main label.checkbox {
    font-weight: normal;
    line-height: 100%;
}

.form #main span.required {
    font-weight: bold;
}


.error-field {
	font-size:11px;
	font-size:.7rem;
	font-weight:700;
}


/* CONTACT */

.contact aside h2 {
	font-size: 1.125em;
	}
.contact aside p {
	font-size: 0.875em;
	line-height: 140% !important;
	}

.contact aside a {
	font-size: 0.813em;
	line-height: 35px;
	}
	
#OrderConfirmationTable {
	font-size:0.9em;
}	

.frontpage #news-update {
	font-size: 0.85em;
}

#calendar-container .calendar-month-head{
	font-family:Lato, Verdana, Arial, Helvetica, sans-serif;
	
}