@charset "UTF-8";
/* CSS Document */
/* Style fonts, font size, font weights, line-height for Japanese text */

body {
	font: 100% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana, Arial, Helvetica, sans-serif;
	line-height: 100%;
	font-weight:normal;
}

h1 {
	font-size: 2.00em;
	line-height: 130%;
	}
h2 {
	font-size: 1.375em;
	line-height: 130%;

	}
h3 {
	font-size: 1.125em;
	line-height: 130%;
	}



.btn2 {
	font-size: 1.125em;
	font-size:24px;
	font-size:1.375rem;
	font-weight: bold;
	line-height: 42px;
}

.btn1 {	
	font-size: 1.125em;
	font-weight: bold;
	line-height: 42px;
	}
.btn1.confirmation {	
	font-size: 1em;
	font-weight: bold;
	line-height: 34px;
	}	
.btn3 {
	font-size: 0.875em;
	font-weight: bold;
	line-height: 29px;
	}
	
	
	
p {
	font-size: 0.938em;
	line-height: 150%;
	}
.page-content p + p {
	padding-top: 30px;
	}

header #AccountTools {
	font-size: 0.75em;
	line-height: 1.5em;
	}

	
header nav > ul > li > a {
	font-weight: bold;
	line-height: 40px;	
	}	

header nav ul li ul li a {
	font-size: 0.875em;
	
	}
#leftnav > ul > li > a {
	font-size: 0.938em;
	font-weight: bold;
	line-height: 130%;
	}
#leftnav ul li ul li a {
	font-size: 0.813em;
	}

#leftnav span.AccountFunctionLabel{
	font-size: 0.938em;
	font-weight: bold;
	line-height: 130%;
}

#subnav ul li a {
	font-size:13px;
	font-size:.8125rem;
	font-weight:700;
}

#subnav i {
	font-size: 13px;
}


/* Language switch */

ul#lang li {
	font-size: 11px;
	font-size:.7rem;
}



/* SUBPAGE */

#content p {
	font-size: 0.875em;
	line-height: 160%;
	}
#sidebar h3 {
	font-size:22px;
	font-size:1.375rem;
	line-height: 1;
}
#sidebar p {
    line-height: 1.45;
}




/* SCHEDULE */

p#key {
	font-size:15px;
	font-size:.9375rem;
}
p#key i {
	font-size:25px;	
	font-size:1.5625rem;
}


/* table */

table.table-content caption {
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
}
table.table-content th,
table.table-content td {
	font-size:12px;
	font-size:.75rem;
	line-height:1.75;
}
table.table-content i {
	font-size:16px;
	font-size:1rem;	
}




/* Footer */

footer h3 {
	font-size: 0.9em;
	line-height: 100%;
	}
footer li.InnerHeader{
	font-size: 0.9em;
	line-height: 100%;
	font-weight:bold;
}
footer > ul > li {
	font-size:90%;
	}
footer > ul > li li {
	font-size: 0.8em;
	line-height: 140%;
	}

footer .legal li {
	font-size: 0.75em;
	line-height: 100%;
	
	}
footer .copy {
	font-family: Arial, Helvetica, sans-serif;
	}





/* Homepage */

/* Slideshow */
.slides_container h2,
.slides_container h3 {
	line-height: 100%;
	}
.slides_container h2 {
	font-size: 3.000em;
	}
.slides_container h3 {
	font-size: 1.250em;
	}
.slides_container .txt#two-girls-smiling-jp {
	position: absolute;
	top: 45px;
	right: 50px;
	text-align:right;
	}
.slides_container .txt#two-girls-smiling-jp h3 {
	line-height:160%
	}	
.slides_container .txt#two-girls-smiling-jp h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:90%;
	font-size:2.7em;
	}	
.slides_container .txt#mountains-of-hakuba {
	position: absolute;
	top: 320px;
	right: 40px;
	text-align:right;
	line-height:130%
	}	
.slides_container .txt#three-boys-smiling-jp {
	position: absolute;
	top: 310px;
	left: 70px;
	}
.slides_container .txt#leader-with-campers-jp {
	top: 250px;
	}
.slides_container .txt#leader-with-campers-jp h2 {
	line-height:120%;
	}
	
/* New slides for Snow Camp 2013 */	
	
.slides_container .txt#snow-angel-jp h2{
	margin: 25px 0 0 50px;
}

.slides_container .txt#snow-angel-jp h3{
	margin: -5px 0 0 53px;

}

.slides_container .txt#three-girlfriends-jp h2{
	line-height: 1.1em;
    margin: 20px 0 0 100px;
}

.slides_container .txt#three-girlfriends-jp h3{
	left: 320px;
    position: absolute;
    top: 100px;
    width: 450px;
}

.slides_container .txt#having-a-blast-sledding-jp h2{
	left: -20px;
    position: absolute;
    top: -50px;
    line-height:1.1em;
}

.slides_container .txt#having-a-blast-sledding-jp h3{
	margin: 65px 0 0 -17px;
}

.slides_container .txt#igloo-builders-jp h2{
	line-height: 1.1em;
    margin: -90px 0 0 540px;
    text-align: right;
    
}

.slides_container .txt#igloo-builders-jp h3{
	text-align: right;
}		

.frontpage #intro h1 {
	font-size: 1.750em;
	}
.frontpage #intro p {
	font-size: 0.938em;
	line-height: 160%;
	}
.frontpage #highlights h2 {
	font-size: 1.375em;
	line-height: 130%;
	}
#mailing p  {
	font-size: 0.875em;
	}
#mailing input[type="text"] {
	line-height: 30px;
	}
#mailing .btn1 {
	font-size: 1em;
	line-height: 33px;
	}



/* ACCOUNT */

/* REGISTRATION */


.registration #confirmation h2 {	
	font-size: 1.625em;
	line-height: 130%;
	}

.registration #confirmation table th {
	font-size: 0.875em;
	font-weight: bold;
	}
.registration #confirmation table td {
	font-size: 0.875em;
	}


ol.progress li {
    font-size: 1em;
    font-weight: bold;
    line-height: 50px;
}


/* FORMS */

.form #main .row.text {
	font-size: 0.875em;
}
.form .example {
	font-size: 0.875em;
}

#content h1 span.input-legend{
	font-size: 14px;
	font-weight:normal;
}



input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	font-size: 0.875em;
	}

.form #main label,
.form #main .label {
    font-size: 0.875em;
    font-weight: bold;

}

.form #main label span.note {
	font-weight: normal;
    font-size: 0.69em;
}

.form #main label.checkbox {
    font-weight: normal;
    line-height: 100%;
}

.form #main span.required {
    font-weight: bold;
}


.error-field {
	font-size:11px;
	font-size:.7rem;
	font-weight:700;
}


/* CONTACT */

.contact aside h2 {
	font-size: 1.125em;
	}
.contact aside p {
	font-size: 0.875em;
	line-height: 140% !important;
	}

.contact aside a {
	font-size: 0.813em;
	line-height: 35px;
	}
#OrderConfirmationTable {
	font-size:0.9em;
}

.frontpage #news-update {
	font-size: 0.92em;
}