@charset "utf-8";



/*-----------------
Page sections, messages
----------------------------------------------------------------------------------------*/

#main .BreadcrumbSuccess{
	color:#23BF45;
	float:right;
	font-size:1.4em;
	margin: -3px -9px 0 0;
}





#main .page-section-body{
    border: 1px #DDD solid;
    margin: 5px 0;
    border-radius: 4px;
    padding:20px;
}
@media (max-width: 768px) {
  #main .page-section-body{
      padding:20px 0;
  }
}
#main .page-section-body.lesson-parameters{
    margin:0 0 5px 0;
    padding:0 20px;
}
@media (max-width: 768px) {
  #main .page-section-body.lesson-parameters{
      padding:20px 0;
  }
}


@media (min-width: 1010px) {
  #main .page-section-body{
      width:800px;
  } 
}

#main .page-section-head.completed{
	margin-top:0px;
}

#main #skier-reg-section-head{
	margin:5px 0 5px 0;
}
#main .page-section-head#add-skier-button-div{
    margin: 0;
    border: none;
    background-color: white;
    padding: 10px 0 10px 0;
}

#main .page-section-head{
	padding:10px 20px;
	background-color: #FBFBFA;
	margin:30px 0 5px 0;
	border-radius: 4px;
    border: 1px solid #a1a1a1;
}
@media (min-width: 1010px) {
  #main .page-section-head{
      width:800px;
  }
}

#main .summary-view{
	padding: 15px 0 15px 0px;
    background-color: #C3ECF9;
    margin: 0 0 5px 0;
    border-radius: 4px;
    border: 1px solid #a1a1a1;
}
#main #buyer-success-status, .skier-success-status, .summary-view.lesson-selection i.white{
	float: left;
    font-size: 1.6em;
    color: white;
    padding: 0px 10px 0px 0;
    margin-left: -40px;
}

#main .summary-view span.ability-level-display{
	margin: 0 30px 0 0;
}
@media (max-width: 768px) {
  #main .summary-view span.ability-level-display, #main .summary-view span.instruction-lang-display{
	display:block;
  }
}
@media (min-width: 1010px) {
  #main .summary-view{
      width:840px;
  }
}
.summary-content {
	margin:0 0 0 30px;
}
.summary-content .summary-date {
	margin:0 20px 5px 0;
}
.summary-content .summary-instructor-display {
	margin:0 0 5px 60px;
}
.summary-content .lesson-time {
	margin: 0 20px 0 0px;
    width: 150px;
    display: inline-block;
}


#main a.edit-link{
	float: right;
    display: block;
    color:#89C5E2;
    margin: 0 20px 0 0;
    margin-top: -17px;
}

#main a.edit-link:hover{
	text-decoration:underline;
	pointer:cursor;
	color:blue;
}

#main a.edit-link.reset{
    color:#555;  
    margin:0;
}

#main a.edit-link.reset:hover{
	color:blue;
	cursor:pointer;
	text-decoration:underline;

}

.form #main .row.date-entry{
	margin: 15px 0 0 0;
}

#main #lesson-assistance-message{
	padding: 10px 20px;
    margin: 0 80px 0 0;
    line-height: 1.4em;
    color: #aaa;
}



/*-----------------
Buttons
----------------------------------------------------------------------------------------*/
.btn2 {
  color: #fff !important;
  width: 100%;
  background: #20AD46;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#20ad46), to(#2e914b));
  background: -webkit-linear-gradient(#20ad46, #2e914b);
  background: -moz-linear-gradient(#20ad46, #2e914b);
  background: -ms-linear-gradient(#20ad46, #2e914b);
  background: -o-linear-gradient(#20ad46, #2e914b);
  background: linear-gradient(#20ad46, #2e914b);
  -pie-background: linear-gradient(#20ad46, #2e914b);
  border: 2px solid #2E914B;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  behavior: url(js/lib/PIE.htc);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1010px) {
  .btn2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 0;
  }
}
@media (max-width: 1009px) {
  .btn2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 18px !important;
    line-height: 36px !important;
  }
}
.btn2:hover {
  opacity: .95;
  text-decoration: none;
}
.btn2.popup {
  width: 300px;
  margin: 30px;
}
.btn1 {
  color: #fff !important;
  height: 42px;
  padding: 0 30px;
  background: #49C76E;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  border: 0;
  behavior: url(js/lib/PIE.htc);
  position: relative;
  display: inline-block;
  text-decoration: none;
  
}
.btn1:hover {
  background: #279246;
  text-decoration: none;
}
.btn1.cancel {
  background: #FF6666;
}
.btn1.cancel:hover {
  background: #F72020;
}
.btn1.add-skier {
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  background: #CEA655;
  margin: 0 15px 0 20px;
}
.btn1.add-skier:hover {
  background: #F5A506;
  text-decoration: none;
}

.btn1.proceed {
  border-radius: 34px;
}

.btn1#LessonParametersConfirm{
	margin: 20px 0 10px 20px;
}
.form .actions .btn1 {
  padding: 0 30px;
  text-align: center;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .form .actions .btn1 {
    margin:0;
  }
}

.form .actions .btn3 {
  float: left;
}
.form .actions .btn3.login-button {
    margin: 15px 0 0 190px;
}
@media (max-width: 767px) {
  .form .actions .btn3.login-button {
    margin: 15px 0 0 0;
  }
}



.btn3 {
  color: #fff !important;
  height: 29px;
  padding: 0 30px;
  background: #b7b7b7;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  border: 0;
  display: inline-block;
  behavior: url(js/lib/PIE.htc);
  position: relative;
  text-decoration: none;
}

.btn3.pagination {
  margin: 15px 12px 0 0;
  height:35px;
  line-height:35px;
}

.btn3.pagination:hover {
  background: #00bb11;
}

.btn3#LessonSelectionComplete {
  margin: 15px 12px 0 0;
  height:35px;
  line-height:35px;
}

.btn3#LessonSelectionComplete:hover {
  background: #00bb11;
}


.btn3:hover {
  background: #abaaaa;
  text-decoration: none;
  cursor: pointer;
}
.btn1 i,
.btn3 i {
  margin-left: 10px;
}
.btn1 i.icon-left,
.btn3 i.icon-left {
  margin-left: 0;
  margin-right: 10px;
}



/*-----------------
Errors and messages
----------------------------------------------------------------------------------------*/
#main #BuyerSectionMsg, #SkierSectionMsg, #LessonSectionMsg, #LiabilityReleaseSectionMsg .message{
	color: white;
    background: #23BF45;
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 0 10px 0 0;	
}
#main p.error-msg {
  background: #FFFFCC;
  border: thin solid #FF1111;
  padding: 6px 12px;
  margin: 18px 0;
  width: 60%;
  border-radius: 4px;
  display:flex;
}
#main p.error-msg i {
  width:30px;
  color: red;
  padding: 7px 12px 7px 0;
  font-size: 1.5em;
}
#main p.success-msg {
  background: #eaffce;
  border: thin solid #00aa00;
  padding: 6px 12px;
  margin: 18px;
  width: 60%;
  border-radius: 4px;
  display:flex;
}
#main p.success-msg i {
  width:30px;
  color: green;
  padding: 7px 12px 7px 0;
  font-size: 1.5em;
}
#main p.success-msg span.success-msg {
  padding: 6px 0;
}

#main .MsgContainer{
	float:right;
}

#main .MsgContainer i{
	color: #23BF45;
	font-size: 1.8em;
    margin: -3px -9px 0 0;
}
.form #main label.error {
  color: #F12F2F;
  display: none;
  clear: both;
  font-weight: normal;
}
@media (min-width: 768px) {
  .form #main label.error {
    margin: 2px 0 8px 190px;
    /* width: 490px; */
  }
}
.form #main #LiabilityRelease label.error {
  margin: -10px 0 -50px 110px;
  padding: 5px 0 0 0;
}
.form #main label#CouponCodeErrorMsgLabel.error {
  margin: -28px 0 8px 300px;
}






/*-----------------
Buyer data entry
----------------------------------------------------------------------------------------*/
.form #content span.input-legend {
  position: relative;
  top: -70px;
  left: 480px;
}
.form #content span.input-legend-star {
  padding: 0;
}
.form #content span.input-legend-text {
  color: #999999;
  font-size: 0.875em;
  margin: 0 0 0 15px;
  padding: 0;
}
.form #main label.radio.printed-mats {
  font-weight: normal;
}
.form #main input[type="radio"].printed-mats {
  height: 15px;
}
.form #main input#ParentGuardianPrintedMatsPreference {
  margin: 4px 20px 0 0;
}
span#ParentGuardianPrintedMatsPreferenceAdvice {
  margin: 0px 100px 0 175px;
  display: block;
  width: 550px;
  line-height: 140%;
}
.form .example.printed-mats {
  margin: 0px 50px 0px 160px;
}
@media (max-width: 767px) {
  .form .example.printed-mats {
    width:240px;
    margin:10px;
  } 
}







/*-----------------
Skier data entry
----------------------------------------------------------------------------------------*/


.skier-name-display{
	margin:0 20px 5px 30px;
}
.skier-name-display.in-form{
	margin:0 20px 5px 0px;
}
.form #main .row#junior-age-advice{
	padding: 0px 0 0 195px;
    line-height: 1.4em;
    width: 50%;
    font-size: 0.9em;
}

#main dl.InstructorPrefs input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 15px;
}
#main dl.InstructorPrefs div {
  width: 400px;
  margin: 10px 0 0 0;
}
#main dl.InstructorPrefs label {
  margin: -20px 0 0 25px;
  padding: 0;
  float:none;
  font-weight:normal;
  width:250px;
}
@media (max-width: 767px) {
  #main dl.InstructorPrefs label {
    margin: -25px 0 0 25px;
    width: 230px;
  }
}
#main dl.InstructorPrefs dt {
  width: 400px;
  font-size: 0.9em;
  line-height: 1.3em;
}
@media (max-width: 767px) {
  #main dl.InstructorPrefs dt {
    width: 240px;
  }
}
#main dl.InstructorPrefs dd {
  margin: 0 0 10px 195px;
}
@media (max-width: 767px) {
  #main dl.InstructorPrefs dd {
    margin: 0 0 10px 0px;
  }
}
#main dl.InstructorPrefs textarea {
  padding: 4px 5px;
  margin-bottom: 20px;
  width: 269px;
  margin: 0 0 20px 190px;
}
@media (max-width: 767px) {
  #main dl.InstructorPrefs textarea {
    width: 230px;
    margin: 0 0 20px 0px;
  }
}


/*-----------------
Ski level wizard
----------------------------------------------------------------------------------------*/

#main .LevelSelectionWizard .choice, .ControlButtons .choice{
	width: 235px;
    padding: 10px 20px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    margin: 5px 0 5px 190px;
}
@media (max-width: 767px) {
  #main .LevelSelectionWizard .choice, .ControlButtons .choice{
    margin: 0px 0 5px 0px;
  }
}
#main .wizard-title-wrapper {
	width: 235px;
    padding: 5px 20px;
    border: 1px solid #CC910C;
    border-radius: 5px;
    margin: -10px 0 5px 190px;
    background-color: #F1A104;
    color:white;
}
@media (max-width: 767px) {
  #main .wizard-title-wrapper {
    margin: 0px 0 5px 0px;
  }
  #main .example.snowboard-wizard, .example.ski-wizard {
    display: block;
    width: 240px;
  }
}
#main .ControlButtons .display{
	border: 0px;
}
#main .ControlButtons{
	margin-bottom:30px;
}
#main .LevelSelectionWizard .choice.selected{
	color:white;
	background-color:#308649;
	border-color:#308649;
	cursor:pointer;
}
#main .LevelSelectionWizard .choice.selected:hover{
	color:white;
	background-color:#308649;
	border-color:#308649;
	cursor:auto;
}

#main .LevelSelectionWizard .choice:hover{
	color:white;
	background-color:#66cc00;
	border-color:#308649;
	cursor:pointer;
}
#main .ControlButtons .reset:hover{
	color:white;
	background-color:#ffaa44;
	border-color:#cc0000;
	cursor:pointer;
}
#main .ControlButtons .confirm:hover{
	color:#444;
	background-color:yellow;
	border-color:black;
	cursor:pointer;
}
#main .ControlButtons .confirm.confirmed{
	color:#444;
	background-color:yellow;
	font-weight:bold;
	border-color:black;
	cursor:auto;
	margin-top:-10px;
}
@media (max-width: 767px) {
  #main .ControlButtons .confirm.confirmed {
    margin-top: 0px;
  }
}
.form #main .row.snowboard-ability, .form #main .row.ski-ability{
	margin:0;
}







/*-----------------
Lesson selection
----------------------------------------------------------------------------------------*/

#lesson-container{
	border: 1px #DDD solid;
    padding: 20px 10px;
    border-radius: 4px;
    
}
@media (min-width: 1010px) {
  #lesson-container{
      width:820px;
  } 
}

#main #LessonSelectionMsg{
	    padding: 15px 0;
}

#LessonLocationMap{
	margin: 20px 0 0 0;
    width: 705px;
}
.imgContainer{
	float:left;
}




.lesson-teaser{
	min-height: 250px;
    position:relative;
}
.lesson-title{
	background: #2C6EA7;
    float: right;
    width: 360px;
    padding: 5px 20px;
    font-size: 1.2em;
    color: white;
}

#main p.lesson a.lesson-details{
	float:right;
	color:#4CAAFF;
}
.lesson-details{
	position:relative;
}
.lesson-details-table{
	margin: 10px 0 50px 0;
}

.lesson-details-table td{
	vertical-align:top;
	padding:4px;
	border-bottom:1px #DDD solid;
}
.lesson-details-table td.lesson-details-header{
	width:90px;
	font-weight:bold;
}
.lesson-details-table td.lesson-details-data{
	width:240px;
}
.lesson-details .btn1{
	position:absolute;
	right:30px;
	bottom:10px;
}
.no-lessons-msg{
	padding:15px 20px;
    width: 60%;
}
.no-lessons-of-date-msg{
	padding:15px 20px;
    width: 60%;
}

#main div.lesson-wrapper.odd{ 
	float:left;
	margin-right:6px;
}

#main div.lesson-wrapper.even{ 
	float:left;
}

#main p.lesson{
	border: 1px #cacaca solid;
    border-radius: 4px;
    padding: 7px;
    width: 380px;
    margin: 5px 0 0 0;
}
@media (max-width: 767px){
	#main p.lesson{
		width: 260px;
	    margin: 5px 10px 0 10px;
	}
}
#main p.lesson:hover{ 
	color:white;
	background-color:orange;
	border-color:red;
	cursor:pointer;
}
#main p.lesson.lesson-selected{ 
	color:white;
	background-color:orange;
	border-color:red;
	cursor:pointer;
}
#main p.lesson.deselected{ 
	color:#666;
	background-color:#D2D2D2;
	border-color:#BBB;
	cursor:pointer;
}
#main p.lesson.deselected:hover{ 
	color:white;
	background-color:orange;
	border-color:red;
	cursor:pointer;
}
#main p.lesson.lesson-full{ 
	color:#777;
	background-color:#555;
}
#main p.lesson.lesson-full a.lesson-details{ 
	color:#777;
}
#main p.lesson.lesson-full:hover{ 
	color:#777;
	background-color:#555;
	border-color:#BBB;
	cursor:pointer;
}
#main p.lesson .lesson-full-message{
	position: relative;
    top: -60px;
    left: 30px;
    color: #555;
    background-color: yellow;
    width: 240px;
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: -40px;
    border: 1px #333 solid;
}
#main .selection-reset{
	padding: 10px;
	margin: 38px 0 0 10px;
    float: left;
    cursor: pointer;
    border: 1px #DDD solid;
    border-radius: 3px;
}

#main .selection-reset:hover{
	border: 1px solid orange;
	background-color: orange;
	color:white;
}



.summary-date, .date, .lesson-price, .lesson-time, .lesson-capacity, .lesson-regd-skiers, .roman-display{
	font: 100% Arial, Helvetica, sans-serif;
	font-size:1.1em;
}

#main p.lesson .lesson-price{
	float:right;
}

#main p.lesson .lesson-regd-skiers{
	margin:0 0 0 30px;
}



#main p.lesson a.instructor-details{
	color:#4CAAFF;
}

#main span#LessonDateRangeLabel, span#LessonStartLocationLabel, span#LessonSelectionSectionLabel {
	margin: 0 30px 0 0;
}

#main span.skier-name-holder{
	display:block;
	padding: 0 0 0 7px;
}
#main span.designate{
	display:block;
}

.LessonqTipClass{
	border:8px blue solid;
	border-radius:5px;
	width: 250;
	font-size:0.8em;
	padding: 10px;
	color: #001C54;
	line-height:16px;
	background: white;
	  
}
@media (max-width: 767px) {
	#main .summary-view {
    	padding: 15px 10px 15px 0px;
	}
	.skier-name-display{
		margin:0 20px 5px 10px;
	}
	.summary-content{
		margin:0 0 0 10px;
	}
	.summary-content .summary-instructor-display{
		margin:0 0 5px 20px;
	}
}





/*-----------------
Confirmation and payment
----------------------------------------------------------------------------------------*/

#main table.confirmation {
  margin: 10px 0 20px 35px;
  
}
#main table.confirmation th{
  padding: 8px 15px 3px 20px;
  border-bottom: 1px solid #888;
}
#main table.confirmation td {
  padding: 8px 15px 8px 20px;
  border-bottom: 1px solid #888;
}
#main table.confirmation.narrow-table td {
  vertical-align:top;
}

#main table.confirmation th {
  text-align: left;
  font-size:0.9em; 
}
#main table.confirmation .coupon-code-display, #main table.confirmation .total-label {
  text-align: right; 
}
#main table.confirmation th.lesson-price {
  text-align: right;
  font-size:0.95em;
  font-weight:bold;
  padding-right:5px;
}
#main table.confirmation td.lesson-price{
  text-align: right;
  font-size:0.95em;
  padding-right:5px;
}

#main table.confirmation td.name-display {
  width: 160px;
  text-align: left;
}

#main table.confirmation td.date {
  text-align: left;
  font-size:0.95em;
}

#main table.confirmation td.lesson-name {
  width: 200px;
  text-align: left;
}

#main table.confirmation td.instructor-name-label {
  text-align:right;
}





#main #buyer-reg-summary .buyer-name-display{
  margin-right:30px;
}

#main table.confirmation td#total-label{
  text-align: right;
}

#main table.confirmation td.tax-advice{
  text-align: right;
  padding-right: 0;
  border-bottom:none;
}
@media (max-width: 767px) {
	#main table.confirmation.narrow-table{
		margin:10px 5px 20px 5px;
	}
	#main table.confirmation.narrow-table th, #main table.confirmation.narrow-table td{
		padding: 5px 10px;
	}
}




#payment-section-body #CouponCodeWrapper{
  margin: 0 0 25px 45px;
}

#payment-section-body #CouponCodeHeader{
  padding-top: 0;
}

#payment-section-body #CheckCouponCodeLink{
  padding: 8px;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 38px 0 0 10px;
  cursor: pointer;
  color:#888;
}

#payment-section-body #CheckCouponCodeLink:hover{
  text-decoration:none;
  border: 1px solid #ee8800;
  background-color: #ee8800;
  border-radius: 3px;
  color:white;
}

.lesson-price.discount{
  color:red;
}

#main #payment-section-body label#CouponCodeErrorMsgLabel.error{
  margin:0;
  width:490px;
}


#payment-section-body .credit-card-box{
	width:400px;
}

@media (max-width: 767px) {
	#payment-section-body #CouponCodeWrapper{
		margin: 10px;
    	width: 260px;
	}
	#payment-section-body #CheckCouponCodeLink{
		margin: 20px 0 30px 5px;
	    position: relative;
	    top: 20px;
	}
}




.jp-name-display{
	margin: 0 20px 0 0;	
}
.en-name-display{
	margin: 0 20px 0 0;	
}
.cn-name-display{
	margin: 0 20px 0 0;	
}
.address-display{
	margin: 0 20px 0 0;	
}

#main #payment-method{
	margin: 50px 0 25px 45px;
}

.form #main #payment-method-selection input[type="checkbox"]{
	margin: 6px 8px 0 10px;
    padding: 0;
    width: 15px;
}
.form #main #payment-method-selection label.checkbox{
	position: relative;
    top: -5px;
    line-height: 1.5em;
    display: inline-flex;
    font-weight: bold;
}

.form #main #payment-method-selection input[type="checkbox"].payment-method-selection.bank-transfer{
	margin-top:30px;
}
#BankTransferUnavailable_ErrorAdvice{
	border: 1px #cacaca solid;
    padding: 8px 12px;
    border-radius: 3px;
    display:block;
    background: #ffffaa;
    font-size: 0.9em;
}

.payment-method-explanation{
	margin: 0 0 0 38px;
    width: 500px;
}

#credit-card-box{
	margin:20px 0 0 40px;
	width:400px;
}
#cc-error-display{
	border: 1px solid #FF9900;
    border-radius: 5px;
    background: #FFF7CC;
    padding: 10px;
    margin: 0 0 10px 40px;
    width: 400px;
    display:flex;
    flex-direction:row;
    
}
#cc-error-display .fa-stack{
	flex-basis:15%;
	align-self:center;
}

#cc-error-display .fa-square{
	color:red;
}
#cc-error-display .fa-exclamation{
	color:white;
}
#cc-error-display .cc-error-msg{
	margin: 8px 20px 6px 10px;
    display: inline-block;
    line-height: 1.3em;
}

.cancellation-advice{
    width: 500px;
}

h3#PaymentMethodHeader{
	border-bottom: 1px solid #888;
    margin: 30px 0 20px -5px;
    padding: 0 0 12px 0;
    width:580px;
    clear:both;
}

h3.cancellation-advice{
	border-bottom: 1px solid #888;
    margin: 30px 0 20px -5px;
    padding: 0 0 12px 0;
    width:580px;
}
h3.student-long-top{
	margin-top:20px;
}

.btn2#CompleteRegistrationBankTransfer{
	width: 275px;
    margin: 10px 0 0 38px;
}
.btn2#CompleteRegistrationCC{
	width: 275px;
    margin: 10px 0 0 3px;
}

.form #main form#payment-form select{
	line-height: 32px;
    height: 32px;
    background: #f8f8f8;
    width:80px;
    margin-bottom:12px;
}

.form #main form#payment-form label{
	float:none;
}

.form #main form#payment-form input.form-control[type=text]{
	width:260px;
}

#main input[type="checkbox"].instructor{
	margin: 8px 5px 0 5px;
}

#main input[type="text"].instructor-name {
    float:none;
    width:150px;
	margin: 5px 0 0 10px;
}



#main span.designate label.checkbox{
	position: relative;
    left: 3px;
    top: -6px;
}

#main a.instructor-details{
	position: relative;
    top: -6px;
    left: -12px;
}

#content.confirmation{
	margin: 0 20px 30px 50px;
    width: 650px;
}

#content.confirmation h1{
	margin: 0;
}


#content.confirmation table.confirmation{
	margin: 10px 0 0 0;
}






.confirmation-header{
	margin-top:20px;
}

.contact-us{
	border: 2px solid #999;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}



/*-----------------
Calendar styles
----------------------------------------------------------------------------------------*/

#calendar-container{
	width:90%;
	margin:auto;
	
}
#calendar-container .row.thumbnails{
	
}
#calendar-container .calendar-thumbnail{
	margin:30px;
	float:left;
	
}
#calendar-container .thumbnail-head{
	color:pink;
	background-color:pink;
	border: 1px red solid;
	border-bottom:none;
    border-radius:4px 4px 0 0;
}
#calendar-container .thumbnail-body{
	border: 1px black solid;
	border-top:none;
    border-radius:0 0 4px 4px;
    padding:20px 30px;
}

#calendar-container .calendar-block{
	
	
}

#calendar-container .message{
	margin:15px;
	width:90%;
	
}


#calendar-container .calendar-month-head{
	border: 1px #e62355 solid;
	border-bottom:none;
	background: #e62355;
	border-radius:4px 4px 0 0;
    padding: 60px 30px 40px 30px;
    width:750px;
    color:white;
    font-size:3em;
	
}


#calendar-container table.calendar-body{
	padding: 20px 20px 40px 20px;
    display: inline-block;
    border-radius:0 0 4px 4px;
    border: 1px #e62355 solid;
    border-top:none;
    font-family:Lato, Verdana, Arial, Helvetica, sans-serif;
	
}


#calendar-container .calendar-day-header th{
	border-left: none;
	border-bottom: 1px #cacaca solid;
	border-top: none;
    padding:10px 30px;
    min-width:50px;
	
}
#calendar-container .calendar-day-header th.last{
	border-right: 1px #cacaca solid;
	
}

#calendar-container .calendar-day td{
	border-left: 1px #cacaca solid;
	border-bottom: 1px #cacaca solid;
	border-top: none;
    min-width:50px;
    position:relative;
}

#calendar-container .calendar-day td:hover{
	background:#f1ff95;
	cursor:pointer;
}

#calendar-container .calendar-day td.last{
	border-right: 1px #cacaca solid;
}
#calendar-container .calendar-day td.prev-month .capacity-indicator,
#calendar-container .calendar-day td.prev-month .capacity-status,
#calendar-container .calendar-day td.next-month .capacity-indicator,
#calendar-container .calendar-day td.next-month .capacity-status,
#calendar-container .calendar-day td.inactive .capacity-indicator,
#calendar-container .calendar-day td.inactive .capacity-status{
	color:white;
}

#calendar-container .day-number{
	font-size: 1.9em;
	position:absolute;
	top: 3px;
    left: 5px;
}
#calendar-container td.prev-month .day-number,
#calendar-container td.next-month .day-number,
#calendar-container td.inactive .day-number{
	color:#cacaca;
}


#calendar-container .capacity-indicator{
	font-size: 2.4em;
    padding: 30px 10px 30px 37px;
    display: inline-block;
}
#calendar-container .capacity-indicator .fa-circle-o{
	color:green;
}
#calendar-container .capacity-indicator .fa-exclamation-triangle{
	font-size: 0.9em;
    color:orange;
}
#calendar-container .capacity-indicator .fa-times{
	color:red;
}
#calendar-container td.prev-month .capacity-indicator .fa,
#calendar-container td.inactive .capacity-indicator .fa{
	color:white;
}

#calendar-container .capacity-status{
	position:absolute;
	bottom:8px;
}











@media (max-width: 767px) {
	#main #payment-method{
		margin: 50px 0 25px 5px;
	}
	h3#PaymentMethodHeader{
		margin: 30px 5px 20px 5px;
    	padding: 30px 0 12px 0;
    	width: auto;
	}
	.payment-method-explanation{
		margin: 5px;
	    width: auto;
	}
	#credit-card-box{
		margin:5px;
		width:auto;
	}
	#credit-card-box .panel-heading{
		display:none;
	}
	#credit-card-box #payment-form{
		padding:5px;
	}
	#credit-card-box #cv-code-label{
		display: block;
	    clear: both;
	    padding-top: 0px;
	}
	#BankTransferUnavailable_ErrorAdvice {
		margin: 5px 10px;
	    line-height: 1.4em;
	}
	.btn2#CompleteRegistrationBankTransfer {
	    margin: 10px 0 0 10px;
	}
	
	h3.cancellation-advice{
		margin: 30px 5px 20px 5px;
	    width:auto;
	}
	p.cancellation-advice{
		padding: 0 5px;
	    width:auto;
	}
	#content.confirmation{
		margin:0;
		width:auto;
	}
}

@media (max-width: 767px) {
	table.confirmation.narrow-table{
		display:table;
	}
	table.confirmation.wide-table{
		display:none;
	}
}
@media (min-width: 768px) {
	table.confirmation.narrow-table{
		display:none;
	}
	table.confirmation.wide-table{
		display:table;
	}
}