@charset "utf-8";
/* CSS Document */



/* Admin Pages
---------------------------- */
#Admin_Header {
	width:950px;
	height:70px;
	border-bottom:thin #CCC solid;
}

#Toolbar {
	width:1099px;
	height:27px;
	background-color:#E2EBEA;
	border-bottom:thin #CCC solid;
	border-right:thin #CCC solid;
}

#Outer {
	margin:0px;
	width:1100px;
	background-color:#FFFFFF;
}

#AdminLogin #Outer {
	border:none;
	width:440px;
}

#AdminForgotPassword #Outer {
	border:none;
	width:440px;
}

#AdminLogout #Outer {
	border:none;
	width:440px;
}

#AdminLogin #Outer #Content{
	border:none;
	width:440px;
}

#box {
	border: 1px #CCC solid;
    padding: 20px;
    width: 450px;
    margin: 50px;
}



#AdminLogout #Outer #Content{
	border:none;
	width:440px;
}



p.AdminErrorMsg{
	background: #ffffc4;
	border:thin solid #FAA83F;
	border-radius: 3px;
	float: right;
	margin: 40px 0 15px 20px;
	max-width:300px;
	padding:8px 8px 8px 1px;
}

span.AdminErrorText{
	
}

p.AdminErrorMsg i.icon-remove{
	float:left;
}

p.AdminSuccessMsg{
	background: #ccffbb;
	border: thin solid #00aa11;
	border-radius: 3px;
	float: right;
	margin: 40px 0 15px 20px;
	max-width:300px;
	padding:8px 8px 8px 1px;
}

span.AdminSuccessText{

}

p.AdminSuccessMsg i.icon-ok{
	float:left;
}

.fa-check{
	color:green;
	margin:0 8px;	
}

.fa-bomb{
	color:red;
	margin:0 8px;	
}



p#DeleteWarningMsg{
	margin: -30px 10px 15px 50px;
}

i.order.icon-warning-sign{
	display: block;
	margin: 20px 0 0 5px;
}


.Clear{
	clear:both;
}

#AccountTools {
	float:right;
	margin-top:5px;
	font-size: 90%;

}

.Username {
	
}

ul#ToolsMenu {
	display:inline;
}

ul#ToolsMenu li {
	display:inline;
}

ul#ToolsMenu a {
	padding:5px 6px;
	margin-right:5px;
}

#FormLogin{
	margin-top:10px;
}

#FormLogout{
	margin:20px;
}

.LoginLogo {
	padding: 30px;
    background: #FFBA31;
    border: 1px solid #DDD;
    border-radius: 6px;
}

#Help {
}

#SmallLogoContainer {
	padding:0;
	float:left;
}

#Content_Wrapper {
	
}

#Admin_Menu {
	border-bottom:thin #CCC solid;
	border-right:thin #CCC solid;
	margin-bottom: 1px;
}






#AdminTools {
	float:left;	
	font-size: 90%;
    width: 200px;
    background-color:#91A8C0;
	color:#FFF;
	min-height: 400px;
}

#AdminTools .FunctionsPanel {
	padding:10px 0 35px 0;
}

#AdminTools .FunctionsPanel ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#AdminTools .FunctionsPanel li.ActiveProgramName{
	padding: 5px 0 4px 12px;
}

#AdminTools .FunctionsPanel li a{
	list-style-type:none;
	font-size: 100%;
	color:#FFF;
	display:block;
	line-height: 30px;
	height: 30px;
	margin-bottom: 1px;
	padding-left: 12px;
	margin-top: -1px;
	width:188px;	
	text-decoration:none;
}

#AdminTools .FunctionsPanel li a:hover{
	color:#0033FF;
	background-color:#FFF;
	text-decoration:underline;
}

#AdminTools .FunctionsPanel label{
	display:block;
	line-height: 30px;
	margin-bottom: -1px;
	padding-left: 12px;
	margin-top: -1px;
	width:168px;	
}

#AdminTools .FunctionsPanel input[type="text"]{
	margin: 0 12px;
	width:140px;	
}

#AdminTools .FunctionsPanel input[type="submit"]{
	height: 25px;
    margin: 5px 0 10px 12px;
	/* width: 60px;	 */
}

#AdminTools .FunctionsPanel select{
	padding:3px;
	margin-left:12px;	
}





#AdminTools .ContextLinksPanel {
	background-color:#F3F398;
	color:#111;	
	padding:10px 0 15px 0;
}

#AdminTools .ContextLinksPanel h3{
	padding-left:12px;
}


#AdminTools .ContextLinksPanel ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


#AdminTools .ContextLinksPanel li{
	
}

#AdminTools .ContextLinksPanel li a{
	background-color:#F3F398;
	list-style-type:none;
	color:#000;
	font-size: 100%;
	display:block;
	line-height: 30px;
	height: 30px;
	margin-bottom: 1px;
	padding-left: 12px;
	margin-top: -1px;
	width:188px;	
	text-decoration:none;
}

#AdminTools .ContextLinksPanel li a:hover{
	color:#0033FF;
	background-color:#FFF;
	text-decoration:underline;	
}

#AdminTools .ContextLinksPanel label{
	display:block;
	line-height: 30px;
	margin-bottom: -1px;
	padding-left: 12px;
	margin-top: -1px;
	width:168px;	
}

#AdminTools .ContextLinksPanel input[type="text"]{
	margin: 0 12px;
	width:140px;	
}

#AdminTools .ContextLinksPanel input[type="submit"]{
	height: 25px;
    margin: 5px 0 10px 13px;
}






#Admin_Header_Container h1{
	padding:5px 0 8px 30px;
	float:left;
	margin-top:15px;
}

#Admin_Subheader_Container{
}

#Admin_Subheader_Container h3{
	padding-left:30px;
	font-weight:normal;
	color:#AAA;
}

ul#Admin_Menu_Nav{
	list-style:none;
	width:100%;
	background-color:#5578AC;
	min-height:30px;
	margin-left:0px;
}

ul#Admin_Menu_Nav li{
	float:left;
}


ul#Admin_Menu_Nav li a{
	list-style:none;

	height:22px;
	display:block;
	text-decoration:none;
	text-align:center;
	padding:6px 25px 2px;
	background-color:#5578AC;
	color:#FFF;
}

ul#Admin_Menu_Nav li a:visited{
	color:#FFF;
}

ul#Admin_Menu_Nav li a:hover{
	background-color:#FFFF7D;
	color:#000;
}

ul#Admin_Menu_Nav li a.Selected{
	background-color:#FFF;
	color:#000;
	text-decoration:none;
}

ul#Admin_Menu_Nav li.Selected {
	color: #000;
	background-color:#FFFF7D;
	display: block;
    height: 22px;
    list-style: none outside none;

    padding: 6px 25px 2px;
    text-align: center;
    text-decoration: none;
}

#Admin_Content {
	width:850px;
	min-height:500px;
	margin: 10px 0 0 30px;
	float:left;
}

#Admin_Content p{
	margin:5px;
}

#Admin_Content .textarea {
    border: 1px solid #DDD;
    border-radius: 3px;
    min-height: 50px;
    padding: 14px;
    font-size: 1.2em;
    width: 700px;
}

#Admin_Content .input {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 14px;
    font-size: 1.2em;
    width: 475px;
}
#Admin_Content .label {
    padding: 8px 0 8px 4px;
    display: block;
    width:700px;
}
#Admin_Content .label .preview-link{
	float:right;
}

#Admin_Content dd {
    margin:0;
}

#PageContentDisplay.ContentDisplay tr{
	padding: 8px 4px;
}

.data-entry{
	border: 1px #DDD solid;
    padding: 15px 30px 30px 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#tab-control{
	margin-top:15px;
}

.tab{
	display: inline-block;
    width: 70px;
    padding: 12px 30px;
    border: 1px #DDD solid;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab.selected{
	font-weight:bold;
	z-index:10;
}

.tab.deselected{
	color:black;
	background:#CCC;
}

.tab:hover{
	cursor:pointer;
	color:white;
	background:#FFBA31;
}

p.actions{
	margin:0;
}
   
.btn1{
	padding: 15px 30px;
    font-size: 1.8em;
    float: right;
    margin: 20px 25px;
}



.btn1:hover{
	background:#ffba31;
}


.Admin_Pagination {
	
}

#box input[type=text], #box input[type=password] {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.1em;
    width: 200px;
    margin: -20px 0 20px 50px;
}

.Top_Nav {
	float:right;
	margin-top:15px;
}


#Admin_Footer{
	border-top: thin solid #CCCCCC;
	clear:both;
}
	
#Admin_Footer p{
	color:#999999;
	text-align:right;
	font-size:0.90em;
	padding: 10px 15px 15px 0px;
}


a.admin-info {
	margin:0 5px;
}

.admin-info i.admin-info-popup {
	color: #4CAAFF;
}

a.admin-info:hover{
	text-decoration:none;
}

span.HiddenVariable{
	display:none;
}

.ContentPanelTitle{
	margin: 20px 0 10px 20px;
	padding: 20px 0 3px 3px;
	font-size: 2.5em;
	color: #444;
	float:left;
}

.OrderPanelTitle{
	margin: 0px 0 5px 20px;
	padding: 0px 0 3px 3px;
	font-size: 1.3em;
	color: #444;
	
}

p.ContentPanelTitle.inline{
	float:none;
}

p.ContentPanelTitle.short-top{
	margin-top:-40px;
	padding-top:0px;
}

#Column2 p.ContentPanelTitle.large{
	font-size: 2.5em;
	margin-left:0;
}

#TwoColumnContent{
	width:1080px;
}

.ContentPanel.left{
	float:left;
	width:400px;
}
.ContentPanel.right{
	float:right;
	width:400px;
	margin:0 70px 0 0;
}

#PageTitle{
	float: left;
    margin-bottom: 0;
    width: 500px;
}

.UpdateForm{
	
}


.ContactListView {
	width:700px;
	font-size:90%;
	/* min-height:500px; */
	border:1px solid #DDDDDD;
	margin:8px 0px 20px 20px;
}



table.ContactListView td{
	padding: 4px 0px;
	border-bottom: 1px solid #DDDDDD;
}

table.ContactListView td.ContactNameENDisplay{
	padding: 4px 5px;
	width:100px;

}
table.ContactListView td.ContactNameJPDisplay{
	padding: 4px 5px;
	width:100px;

}
table.ContactListView td.ContactNameENDisplay a, 
	table.ContactListView td.ContactNameJPDisplay a,
	table.ContactListView td.MedDisplay a{
	text-decoration:none;
}

table.ContactListView td.ContactNameENDisplay a:hover, 
	table.ContactListView td.ContactNameJPDisplay a:hover,
	table.ContactListView td.MedDisplay a:hover{
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}

.ContactBoolisInactiveDisplay {
	color:red;
}



.ContentDisplay {
	width:880px;
	font-size:90%;
	/*min-height:500px;*/
	border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
	margin:0px 0px 20px 20px;
}

table.ContentDisplay.narrow-plus {
	width:600px;
}

table.ContentDisplay.narrow {
	width:700px;
}

.ContentDisplay #ListHeaderRow td{
	padding:6px 0px 6px 5px;
	color:#484848;
}

.ContentDisplay #ListHeaderRow td.short-left{
	padding:6px 0px 6px 0px;
}

.ContentDisplay #ListHeaderRow td.StaffNameColumn{
	padding:6px 0px 6px 5px;
	color:#484848;
}

table.ContactListView td.ContactFlagColumn a{
	padding:4px 6px 4px 10px;
}

table.ContactListView #ListHeaderRow td.found-count{
	padding:4px 8px;
}

.ContentDisplay #ListHeaderRow td#StaffFlagColumnHeader{
	min-width:20px;
	padding:0;
}

#OrderLineItemDisplay.ContentDisplay {
	width:650px;
	margin-bottom: 10px;
}

#ProgramContentDisplay.ContentDisplay {
	width:350px;
}


.ContentDisplay td.ContentNameColumn{
	width: 330px;
    padding: 8px;
    vertical-align:top;	
}


.ContentDisplay tr:hover{
	background-color:#ddffff;
	cursor:pointer;
}

.ContentDisplay td a.ActionLink:hover{
	color:red;
	text-decoration:underline;
}

.ContentPanel p.AdminActionLink {
	margin:10px 0 10px 25px;
}


.ContentDisplay tr a.OrderLink {
	display:block;
	
}

.ContentDisplay tr a.OrderLink:hover {
	text-decoration:underline;
	color:blue;
}



.ContentDisplay tr{
	border-bottom:1px solid #DDDDDD;
	color:#222222;
	padding:4px;
	vertical-align:middle;	
	text-decoration:none;
}

.ContentDisplay tr.yellow-highlight{
	background-color:yellow;
}


.ContentDisplay tr.assigned{
	background-color:#ffffaa;
}

.ContentDisplay tr.team-display{
	background-color:#ffff99;
}

.ContentDisplay tr.team-display:hover{
	background-color:orange;
}

.ContentDisplay tr.team-display a:hover{
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}

.ContentDisplay tr.scheduled{
	background-color:#FFECAF;
}

.ContentDisplay tr.completed{
	background-color:#E0FFD9;
}

.ContentDisplay tr div.schedule-assign{
	margin:0 0 0 200px;
}

.ContentDisplay tr td.interview-status{
	padding:0 0 0 10px;
}

.ContentDisplay tr.completed td{
	padding:8px 0 0 10px;
	vertical-align:top;
}

.ContentDisplay tr.completed td.interview-rating{
	padding:8px 0 0 0px;
}

.ContentDisplay tr.completed td.interview-comments{
	padding:8px 20px 10px 0px;
}

.ContentDisplay tr td.interview-status.assigned{
	padding:8px 0 0 10px;
}

.ContentDisplay tr td form input.date-entry{
	width: 80px;
	margin-top: -14px;
	padding:4px;
}

.ContentDisplay tr td form input.schedule-date-submit{
	height: 24px;
	width: 60px;
	margin: -14px 10px 9px 10px;
	padding:0;
}

.ContentDisplay tr.mm-staff{
	background-color:#bbffaa;
}

.ContentDisplay tr.kitchen-staff{
	background-color:#fdda8d;
}

.ContentDisplay tr.photo-staff{
	background-color:#b6f7fa;
}

.ContentDisplay tr a{
	text-decoration:none;
	color:#222222;
}

.ContentDisplay tr a:hover {
	text-decoration: none;
	color:#222222;
}

.ContentDisplay tr a.select_link:hover {
	text-decoration: underline;
	color:#0000FF;
}

.ContentDisplay a.InnerLink:hover {
	text-decoration: underline;
	color:#0000FF;
}

.ContentDisplay i.icon-check-empty{
	color:#222;
}

.FunctionsPanel .MenuTitle{
	margin: 12px 20px 5px 12px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 8px;
}

#AdminTools .FunctionsPanel label.MenuLabelTitle{
	margin: 0 0 8px 12px;
	border-bottom: 1px solid #DDDDDD;
	padding: 6px 0 0 0;
}



.ContentDisplay td{
	color:#000000;
	padding:4px;
	vertical-align:middle;	
}

.ContentDisplay td.Strong{
	font-weight:bold;
	padding-bottom:15px;	
}

#OrderListDisplay{
	width: 750px;
}

#OrderListDisplay td{
	padding:4px 8px;
}

#OrderListDisplay td.OrderMemoTimestamp{
	min-width:100px;
	vertical-align:middle;
}

#OrderListDisplay td.OrderMemoText{
	vertical-align:middle;
}

#OrderListDisplay input{
	width:80px;
}

.OrderNumberDisplay{
	width:60px;
}

.MessageNameDisplay{
	width:180px;
}

.MessageDeliveryDateDisplay{
	width:80px;
}

.TimestampDisplay{
	width:120px;
}

.OrderNameDisplay{
	width:120px;
}

.ReferralNameDisplay{
	width:200px;
}

.OrderNameDisplayJP{
	width:100px;
}

.SummaryProgramDisplay{
	min-width:150px;
}

.SummaryProgramDisplayWide{
	min-width:300px;
}

.SummarySessionDisplay{
	min-width:150px;
}

.SummaryCountDisplay{
	min-width:130px;
}

table td.LabelRightAlign{
	text-align:right;
	padding-right:15px;
	color:#999;
}

table td.OrderLIPriceDisplay{
	text-align:right;
}

table td.OrderLISessionDisplay{
	width:200px;
}



.StaffNameDisplay{
	min-width:120px;
}

.StaffPhoneDisplay{
	min-width:100px;
}

.StaffEmailDisplay{
	
}

.StaffActionDisplay{
	
}

.StaffDeactivateDisplay{
	min-width:20px;
}

table.ContactListView td.StaffDeactivateDisplay.Evaluation{
	width: 10px;
	padding-right: 10px;
}

.ContentDisplay.StaffListView{
	
}

.ContentDisplay tr a.delete-memo-link{
	color:#999999;
}

.ContentDisplay tr a.delete-memo-link:hover{
	color:#FF0000;
	cursor:pointer;
}


.ContentDisplay #Story_List_Header td{
	background-color:#E4E4E4;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #BBBBBB;
}

.ContentDisplay td.StaffFlagColumn{
	
}

.ContentDisplay td.StaffAssignmentColumn{
	width:200px;
}

.ContentDisplay tr#ListHeaderRow td.StaffAssignmentColumn{
	padding-left:0px;
}

.ContentDisplay td.StaffFlagColumn.Evaluation{
	width:25px;
}

.ContentDisplay td.StaffFlagColumn a.AddMemoLink{
	padding:0 0 0 8px;
}

.ContentDisplay td.StaffFlagColumn a.ToggleCandidateCheckbox{
	padding:0 0 0 6px;
}



.ContentDisplay td.StaffNameColumn{
	width:140px;
	padding:0 5px;
	min-width:80px;
}

.ContentDisplay td.StaffResidenceColumn{
	width:150px;
	min-width:150px;
}

.ContentDisplay td.StaffPhoneColumn{
	width:120px;
}

.ContentDisplay tr#ListHeaderRow td.StaffJPAbilityColumn{
	padding-left:9px;
}

.ContentDisplay td.StaffJPAbilityColumn{
	width:30px;
}

.ContentPanel .BatchMailLink{
	margin-left:22px;
}

.ContentDisplay a.SkypeCallLink:hover{
	color:#00F;
	text-decoration:underline;
}

.ContentDisplay tr.GridRow {
	border-bottom:1px solid #DDDDDD;
	color:#222222;
	padding:4px;
	vertical-align:middle;	
}

.ContentDisplay tr.GridRowOver {
	color:#FFF;
	background-color:#bbddee;
	cursor:pointer;
}

.ContentDisplay tr.GridRowOver a:hover{
	color:#00F;
	text-decoration:underline;
}

.Pagination_Nav{
	text-align:right;
	padding: 6px 20px 6px 0px;
}

.EngDate{
	font-family:Arial, Helvetica, sans-serif;
}

.ContentPanel #CandidateData{
	float:left;
	padding:0 20px 0 0;
	margin:0 0 0 24px;
	width:500px;
}

.ContentPanel #InterviewNotesEntry{
	float:right;
	padding:0px 15px 0 15px;
	width:500px;
}

#ShortDataContainer{
	margin:0 0 15px 0;
}

#ShortDataContainer dt{
	margin:0 0 15px 0;
	display:inline-block;
	width:85px;
}

#ShortDataContainer dd{
	margin:0 0 15px 0;
	display:inline-block;
	min-width:100px;
}

#ShortDataContainer dl#ShortDataContainerLeft{
	float:left;
	padding:0 20px 0 0;
	width:200px;
}

#ShortDataContainer dl#ShortDataContainerRight{
	float:right;
	padding:0;
	width:250px;
}

#InterviewNotesEntry p{
	margin:0 0 20px 0;
}

#InterviewNotesEntry label{
	margin:0 0 10px 0;
	display: inline-block;
}

.InterviewRecord{
	border-right: thin solid #CCCCCC;
	padding-right: 19px;
	width:1080px;
}

.ContentDisplay tr.HiringMemoInputRow, tr.MemoInputRow{
	display:none;
}

.ContactListView td.HiringMemoTimestamp{
	text-align: right;
	padding: 4px 15px 0 0;	
	color:#999;
	vertical-align:top;
}

.ContactListView td.HiringMemoText{
	padding: 4px 15px 8px 0;	
	color:#C35821;
	vertical-align:top;
}

.ContentDisplay td.OrderMemoTimestamp{
	min-width:150px;
	text-align: right;
	padding: 4px 15px 0 0;	
	color:#999;
	vertical-align:top;
}

.ContentDisplay td.OrderMemoText{
	padding: 4px 15px 8px 0;	
	color:#C35821;
	vertical-align:top;
	width:400px;
}

.ContentDisplay td.RedBallMemoText{
	padding: 4px 15px 8px 0;	
	color:#D506AB;
	vertical-align:top;
	width:400px;
}

p.OrderPanelTitle a, p.OrderPanelTitle a:hover{
	text-decoration:none;
}

#OrderMemoDisplay.ContentDisplay{
	width:650px;
}

p.OrderPanelTitle i.icon-plus{
	color:green;
}



a.NotAvailable, a.NotAvailable:hover{
	color:#999;
}


#Admin_Function_Bar {
	margin-top:8px;
	border-top:1px solid #BBBBBB;
}

#Admin_Fn_Bar_Tools {
	float:left;
}

#Admin_Fn_Bar_Tools ul{
	list-style:none;
	width:100%;
	min-height:24px;
	margin-left:20px;
}

#Admin_Fn_Bar_Tools ul li{
	float:left;
}

#Admin_Fn_Bar_Tools ul li.Cancel{
	margin-left:40px;
}


#Admin_Fn_Bar_Tools ul li a{
	list-style:none;
	padding:8px 8px 4px 14px;
	height:22px;
	display:block;
	text-decoration:none;
	text-align:center;
}


#Admin_Fn_Bar_Filters {
	float:right;
	text-align:right;
}

#Admin_Fn_Bar_Filters ul{
	list-style:none;
	width:100%;
	min-height:24px;
	margin-left:0px;
}

#Admin_Fn_Bar_Filters ul li{
	float:left;
	padding:8px 6px 0px;
}


#Admin_Fn_Bar_Filters ul li a{
	list-style:none;
	height:22px;
	padding:0 8px 0 14px;
	display:block;
	text-decoration:none;
}

.Admin_Tab_Bar_Container {
	background-color:#AAA;
	border-top:1px solid #777;
	min-height:30px;
}

.Admin_Tab_Bar {
	float:left;
}


.Admin_Tab_Bar ul{
	list-style:none;
	width:100%;
	min-height:30px;
	margin-left:0;
}

.Admin_Tab_Bar ul li{
	float:left;
}

.Admin_Tab_Bar ul li.First{
	margin-left:26px;
}

.Admin_Tab_Bar ul li.Selected{
	background-color:#EEE;
	color:#000;
	border-left:1px solid #777;
	border-right:1px solid #777;
}

.Admin_Tab_Bar ul li.Selected span{
	display:block;
	width:90px;
	text-align:center;
	padding:6px;
}

.Admin_Tab_Bar ul li span{
	display:block;
	width:90px;
	text-align:center;
	padding:6px;
	list-style:none;
	text-decoration:none;
}


.Admin_Tab_Bar ul li a{
	
}

.Admin_Tab_Bar ul li span:hover{
	background-color:#EEE;
	color:#000;
	cursor:pointer;
}

.PublishStatus {
	float:right;
	display:inline;
	padding:6px;
	color:#DDD;
	margin:0 30px 0;
}

.PublishStatus span {
	color:#FF0;
}

.FilterExecuteOrRemove {
	
}

.FilterDefault {
	color:#999;
}

/* Form layout */

#Column2.WideForm {

	width:660px;
	padding:15px 10px 0px 70px;
	min-height:500px;
}

#ContactDetailsForm.WideForm, #MedicineDetailsForm.WideForm {
	padding:15px 10px 0px 20px;
	min-height:500px;
	width:700px;
}

.OrderDetailsForm.WideForm {
	padding:0px 0px 0px 20px;
	width:730px;
}

.OrderDetailsForm a.FormActionLink{
	margin:0 10px;
}

#Column2.WideForm.OpenLeft {
	margin-left:180px;
	padding-bottom:50px;
}

.ContentPanel input[type="submit"]{
	margin:5px 0 15px 15px;
	height:30px;
/* 	width:30%; */
}

.ContentPanel.Reports input[type="submit"]{
	margin:0;
	height:20px;
}

.ContentPanel.Reports{
	margin:10px 0 0 20px;
}

.ContentPanel .ContactEmailDisplay a:hover {
	color:blue;
	text-decoration:underline;
}

.ContentPanel a.ActionButton {
	margin: 0 23px;
}

p#OrderEditAddLineItemLinkBlock{
	margin: -5px 0 30px 550px;
}


.ContentPanel input[type="submit"].small-submit{
	margin:0px;
	height:8px;
}

.WideForm h2 {
	clear:both;
	margin: 20px 0 0 0;
}

.WideForm h3 {
	margin-bottom:10px;
}

.WideForm dl {
	padding: 10px;
	border: 1px solid #999;
	margin-bottom: 15px;
}
	
.WideForm dt {
	clear:left;
	float:left;
	margin-bottom:6px;
	width:200px;
}

.WideForm dd {
	margin-bottom:16px;
	margin-left:220px;
}

.WideForm dd input[type="text"].Field150 {
	width:150px;
}


.WideForm dd input[type="text"].Field350 {
	width:350px;
}

#ContactDetailsForm.WideForm dd {
	margin-bottom:16px;
	margin-left:200px;
}

#ContactDetailsForm.WideForm dd input[type="text"]{
	width:150px;
}

#ContactDetailsForm.WideForm dd textarea.CamperTextarea{
	width:250px;
	height:100px;
	padding:6px;
	line-height:15px;
}

#ContactDetailsForm.WideForm dd input[type="text"].Admin{
	width:250px;
	padding:4px;
	margin:5px 0px;
}

#MedicineDetailsForm.WideForm dd input[type="text"].Admin{
	width:250px;
	padding:4px;
	margin:5px 0px;
}

#OrderDetailsForm.WideForm dd {
	margin-bottom:16px;
	margin-left:170px;
}

#OrderDetailsForm.WideForm dd input[type="text"]{
	width:150px;
}

#PasswordUpdateForm dd {
	margin-bottom:16px;
	margin-left:100px;
}

.WideForm dd input[type="text"]{
	width:380px;
}


.FormComment {
	margin-left: 8px;
	color:#888888;
}

.FormError {
	padding:15px;
	border:#FF0000 thin;
	background-color:#CC3333;
}



.WideForm label.error {
	color: #FF0000;
	margin-left:10px;
}

.WideForm input.error, #signup select.error {
	background: #FFA9B8;
	border:1px solid red;
}

#AccountDetailsForm dd input[type=text] {
	width:150px;
}


.ProgramDesc {
	padding: 15px;
	background-color:#6F9;
}


.Field150 {
	width:150px;
}


.Field200 {
	width:200px;
}

.Field300 {
	width:300px;
}

.Textarea300x50 {
	width:300px;
	height:50px;
}

.Textarea300x300 {
	width:300px;
	height:300px;
}

.StarRequired {
	visibility:visible;
	color:red;
	font-weight:bold;
}

.NoStarRequired {
	display:none;
}

.ContentPanel {
	float:left;
	margin-bottom: 20px;
}

.ContentPanel.LargeTop {
	margin-top:35px;
}


form#AccountUpdateForm .Field150{
	width:150px;	
}

#OrderLIPriceTotalLabel{
	text-align:right;
	}

td.SessionNameColumn{
	padding-left:10px;	
	}

#TopPanelClear{
	width:600px;
	float:left;
	margin:10px 0px 0px 25px;
}

table.Dataset{
	width:900px;	
}

table.CamperList{
	border-top:thin grey 1px;
	padding:0;	
}

table.CamperList.TieDye tr:nth-child(even) {
background-color: #efefef; 
color: #000;
}

td.TableTop{
	vertical-align:top;
}

table.CamperList td{
	font-size:14pt;
	padding-bottom:30px;
	vertical-align:top;
	line-height: 24px;
}

#Content_Wrapper.bus_format table.CamperList td{
	font-size:16px;
	padding-bottom:0px;
	vertical-align:top;
	line-height: normal;
}

table.CamperList.NoPadding td{
	font-size:14pt;
	padding-bottom:0;
	vertical-align:top;
}

table.CamperList td.NoPadding{
	padding:0;
}

div#Outer.Report{
	border:none;
}

table.CamperList td.BigTentReportColumn1{
	width:700px;
	font-size:60px;
	padding:20px 0;
}


tr.DatasetHeaderRow{
	font-weight:bold;
}

td.DatasetColumn1{
	width:200px;
}

table.CamperList td.Wide{
	width:350px;
	font-size:16px;
	padding:5px 0;
}

table.CamperList td.TeamList{
	width:150px;
	font-size:14px;
	padding:2px 0;
	
}

td.DatasetColumn1.TentName{
	width:350px;
	font-size:24px;
	font-weight:bold;
	padding:20px;
}

table.CamperList td.DatasetColumn1.room-names{
	width: auto;
  	font-size: 60px;
    padding: 40px;
}

td.DatasetColumn2{
	width:180px;
}

td.DatasetColumn3{
	width:100px;
}

td.DatasetColumn4{
	width:200px;
	margin:0 10px;
}

td.DatasetColumn5{
	width:auto;
	margin:0 10px;
}

td.DatasetColumn6{
	width:auto;
	margin:0 10px;
}

i.icon-ok {
	color:#0C9C36;
	font-size: 140%;
}
i.icon-circle-blank {color:#F88613;}
i.icon-warning-sign {color:#F88613;}
i.icon-ban-circle {color:#EE1C24;}
i.icon-remove{
	color:#EE1C24;
	font-size: 140%;
}

i.icon-circle{
	color:#EE1C24;
}

i.icon-star-empty.bronze {
	color:#968966;
	font-size:1.6em;
	margin:0 8px;
}

i.icon-ok.bronze {
	color:#968966;
	font-size:1.6em;
	margin:0 8px;
}

i.icon-star.gold {
	color:#F0B10E;
	font-size:1.6em;
	margin:0 8px;
}

i.icon-ok-sign.green {
	color:green;
	font-size:1.3em;
	margin:0 0 0 10px;
}

i.icon-plus-sign.blue {
	color:#3F69D7;
	font-size:1.3em;
	margin:0 0 0 10px;
}

i.interview-rating{
	position:relative;
	top:-3px;
}

td.EvaluationArray i.narrow{
	margin:0;
}

span.AvailibilityLink {
	font-size:1.5em;
	margin:0 10px;
}

span.AvailibilityLink a:hover{
	color:blue;
}

span.ParagraphHead{
	font-weight:bold;
}

td#ListHeaderStatusColumn{
	min-width:50px;
}

td#ListHeaderProgramSessionColumn{
	min-width:300px;
}

td#ListHeaderUpdateLinksColumn{
	min-width:100px;
}

td.AvailabilityText{
	color:red;
}

td.CellPadding{
	padding:5px;
}

table#DatasetTable td{
	vertical-align:text-top;
	line-height: 18px;
}

table#DropoffPickupReport td, th{
	font-size:90%;
	text-align:left;
	
}

td.new-team{
	padding:15px 0 0 0;
}

span.PayrollApprovedLabel{
	color:green;
}


/* Payroll Management _______________________________________*/



#DisplayAllPayrollLineItems{
	margin:15px 20px;
}

#DisplayAllPayrollLineItems hr{
	margin: 0 0 5px 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}

p.payroll-section-head{
	font-size:1.2em;
	font-weight:bold;
	margin: 15px 0 8px 0;	
}


/*tr.PayrollLI td{
	font-size:0.9em;
}*/

tr.PayrollLI td input{
	padding:3px;
	margin: 4px 8px;
	font-weight:normal;
	font-size:1.0em;
}

tr.PayrollLI{
	border:none;
}



table.InsertPayrollLineItem{
	border:none;
	margin-left:38px;
}


td.action-icon-column {
	padding: 0 0 0 8px;
    width: 20px;
}

td.action-icon-column a{
	text-decoration:none;
}

td.action-icon-column a:hover{
	cursor:pointer;
}

td.PayrollMemoText{
	color:#E44040;
}





input.description-column{
	width:200px;
}

select.description-column{
	width:214px;
	background:none;
	height:30px;
	border: 1px solid #AAA;
	margin:0 8px 0 8px;
	font-size:1.0em;
}

select.qty-column{
	width:60px;
	background:none;
	height:30px;
	border: 1px solid #AAA;
	font-size:1.0em;
}

select.unit-column{
	width:130px;
	margin: 0 8px;
	background:none;
	height:30px;
	border: 1px solid #AAA;
	font-size:1.0em;
}

input.unit-column{
	width:120px;
}

input.unit-rate-column{
	width:70px;
}

td.total-column {
	width:80px;
	padding: 0 0 2px 10px;
	font-size:1.0em;
}

tr.table-header-row{
	font-size:0.9em;
}

tr.table-header-row td{
	padding:3px 8px 4px 8px;
	
}

tr.table-header-row td.header-description{
	padding-left:50px;
}

tr.table-header-row td.header-qty{
	padding-left:130px;
    padding-right:0;
}

tr.table-header-row td.header-unit{
	padding-left:20px;
    padding-right:0;
}

tr.table-header-row td.header-unit-rate{
	padding-left:115px;
    padding-right:0;
}

tr.table-header-row td.header-total{
	padding-left:60px;
    padding-right:0;
}

p.table-header {
    font-size: 1.1em;
    margin: 12px 0 3px 50px;
}

i.option-add-link{
	font-size:1.3em;
	color:green;
}

i.icon-refresh{
	color:green;
	font-size:1.5em;
}

#main #PayrollUpdateForm .row{
	margin: 0 0 15px;
}

#main #PayrollUpdateForm .actions{
	padding-top: 35px;
    width: 260px;
}


span.approved-label{
	color:green;
}

#ContactListDisplay span.WorkAssignment{
	color:coral;
}

i.icon-ok{
	color:green;
	font-size:1.7em;
	margin:0 8px;
}

a.RemoveApprovalLink{
	text-decoration:none;
}

#AdminTools table.StaffToAssignList{
	margin: 4px 4px 0px 10px;
}

#AdminTools table.StaffToAssignList{
	margin: 4px 4px 0px 10px;
}

tr.StaffAssignRow{
	background: #DDF7F9;
	display: inline-block;
	
	width: 172px;
	padding: 3px 6px;
	border-radius: 2px;
	margin:4px 0 0 0;
}



tr.StaffAssignRow td{
	
	
}

tr.StaffAssignRow.droppable{
	color:#999;
	min-height:18px;
}


tr.StaffAssignRow.droppable.ui-state-default{
	border:0;
	background-color:#E9ADED;
	color:white;
}

tr.StaffAssignRow td a{
	text-decoration:none;
	color:#222;
	
}

tr.StaffAssignRow td a:hover{
	text-decoration:underline;
	color:red;
	
}

tr.StaffAssignRow td.StaffNameColumn{
	min-width:100px;
}

tr.StaffAssignRow td.StaffNameColumn.dark-text{
	color:#444;
}

tr.StaffAssignRow td.StaffGenderColumn{
	width:10px;
	color:#0077cc;
}

tr.StaffAssignRow td.StaffRatingColumn i.bronze{
	color:#AAA;
	font-size:1.4em;
}

tr.StaffAssignRow td.StaffRatingColumn i.gold{
	color:#AAA;
	font-size:1.4em;
}

tr.StaffAssignRow td.StaffJPAbilityColumn{
	
}

tr.ContentRow td.AssignRatingColumn i.dull{
	color:#CCC;
}

tr.ContentRow td.AssignRatingColumn a.RatingLink:hover{
	color:red;
	text-decoration:underline;
}

table.AssignedStaffDisplay{
	border:0;
	margin: 0 0 0 8px;
}

table.StaffToAssignList tr.StaffAssignRow{
	font-size:1.1em;
}

.BlankTypeDropTarget{
	width: 200px; 
	height: 50px;
}

.ContentPanel #CohortWideContainer{
	width:879px;
	margin: 0 0 0 13px;
}

.ContentPanel #LeftCohortNarrowContainter{
	
	margin:0 5px 0 0;
	float:left;
}

.ContentPanel #RightCohortNarrowContainter{
	margin:0;
	float:right;
	
}

.ContentPanel .LeftColumnContainer{
	width:200px;
	margin:0 5px 0 0;
	float:left;
	background-color:rgb(131, 195, 200);

}

.ContentPanel .RightColumnContainer{
	width:200px;
	margin:0;
	float:right;
	background-color: rgb(131, 195, 200);

}

.ContentPanel .Column{
	padding: 10px 10px 20px 6px;
}

.ContentPanel .RightColumnContainer.White{
	background-color:white;
}

#CohortWideContainer tr.JobClassTitle{
	
display: block;
padding: 4px 0 2px 6px;
color: #EEE;
}

#CohortWideContainer div.CohortTitleDisplay{
	margin: 30px 8px 0 8px;
	font-size: 1.0em;
	border-radius: 3px;
	background: #FFFEA1;
}

#CohortWideContainer div.Column div.CohortTitleDisplay:first-of-type{
	margin: 5px 8px 0 8px;
}

p.CohortTitle{
	display: inline-block;
	margin: 0;
	padding: 8px 0px 7px 8px;
	width:140px;
}


#CohortWideContainer div.CohortTitleDisplay span.DeleteCohortButton{
	float: right;
	width:23px;
	padding:6px;
}

#CohortWideContainer div.CohortTitleDisplay span.DeleteCohortButton a:hover{
	cursor:pointer;
}

table.AssignedStaffDisplay.BigRight{
	margin-right: 221px;
}

p.PageLowerHead{
	margin:10px 0 10px 20px;
	font-weight:bold;
}

td.EvaluationArray i.icon-ok, i.icon-remove, i.icon-star, i.icon-star-empty{
	margin:0;
}

td.EvaluationArray span.EvalDate{
	display: inline-block;
	padding: 0px 5px 3px 0;
}

td.EvaluationArray i.dull{
	color:#B0B0B0;
}

tr.EvaluationsList{
	display:none; 
}

td.EvaluationArray i.icon-folder-open-alt{
	color:#888;
	padding: 0 6px 0 2px;
}

td.EvaluationListRow span.EvalMemo{
	display: inline-block;
	padding: 4px 0 3px 35px;
	color: #C35821;
}

form.memo-edit input{
	padding:10px 0;
	margin:0;
	font-size:1.1em;
	height:30px;
	text-align:left;
}


a.RemoveApprovalLink{
	text-decoration:none;
	cursor:pointer;
}

i.icon-remove{
	text-decoration:none;
	color:red;
	font-size:1.7em;
	margin:0 8px;
}

span.red-text{
	color:red;
}

input.ui-state-error ~ .error {
	display:block;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
select.error,
textarea.error { 
	border:1px solid #ff0000!important;
}

label.error{
	color:red;
	padding:5px;
}

p.team-name.bus-list {
	 margin: 40px 0 20px 20px;
}
