@charset "UTF-8";
/* CSS Document */
/* Style fonts, font size, font weights for English text */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color: #484848;
}

#H1GlobalPageHeader h1 {
	font-size: 0.88em;
}

#Column2 p {
	font-size: 1.08em;
	line-height: 150%;
	text-align: justify;
}

#Column2 p.FirstMission{
	font-size:1.3em;
}

#Column2 h1{
	font-size:1.6em;
}
#Column2 #Program h1{
	font-size:36px;
}
#Column2 h2{
	font-size:1.4em;
}

#Column2 h2 a{
	font-weight:normal;
	font-style:italic;
	color:#F45E6C;
}

#Home #Column2 h2 {
	font-size: 34px;
}
#Column2 #Program h2 {
	font-size: 16px;
}
#Column2 h3{
	font-size:1.25em;
}
#Home #Column2 h3 {
	font-size: 16px;
}
#Column2 h4 {
	font-size: 1.12em;
}
#Column2 ul {
	font-size: 1.08em;
}

/* PageNavigation 
-----------------------------------------*/
.PageNavigationHead {
	font-size: 12px;
}

#PageNavigation li#Nav_home a{
	font-size: 12px;
}
#PageNavigation li ul li a{
	font-size: 12px;
	font-weight: bold;
	line-height: 110%;
}

/*CampDetails
----------------------------------------*/
.CampDetails dt{
	font-size:0.95em;
	font-weight:bold;
}

.CampDetails dd{
	font-size:0.95em;
}

.News{
	line-height:26px;
}


/*Aout
----------------------------------------*/

/* Schedule layout */

table#Schedule {
	font-size:0.95em;
}

.Availability{
	font-size:1.3em;
}

.PullAttribution{
	font-weight:bold;
	font-size:0.8em;
}

#SubmitNow {
	font-size:1.0em;
	font-weight:bold;
}	

.WideForm label.error {
	font-size: 1.0em;
}
